* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-image: url("/assets/tree-pattern-reduced-op.png"),
    linear-gradient(#90D1CA, #096B68);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover; /* or contain, or auto depending on your need */
    background-position: center, center;
    background-attachment: fixed, fixed;
    height: 100%;
}

body {
    min-height: 100vh;
    /*Background*/
    /* background-image: url("/assets/tree-pattern-reduced-op.png"),
    linear-gradient(#90D1CA, #096B68);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    background-attachment: fixed, fixed; */

    /*For centering*/
    display: flex;
    flex-direction: column;   /* Stack children vertically i.e. along cross-axis (y-axis)*/
    justify-content: flex-start;  /* Aligns across main axis (y-axis in this case) */
    align-items: center;      /* Aligns across cross-axis (x-axis in this case */
    text-align: center;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    font-size: 5rem;
    letter-spacing: -0.05em;
    margin: 1rem;
}

#past-moods-div {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    max-width: calc(100% - 4rem);
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    background-color: rgba(255, 251, 222, 0.4);
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: 1px solid red;  */
    width: 100vw;
    min-width: 412px;
    max-width: calc(100% - 4rem);
    margin: 0 auto 2rem auto;
    padding: 1rem 2rem;
    background-color: rgba(255, 251, 222, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
}

#past-moods-div div {
    margin: 0.5rem 0;
}

#timestamp {
    color: white;
    font-size: 1.5rem;
}

#mood-desc {
    font-size: 1.5rem;
    color: #1C3F4A;
}

@media (max-width: 412px) {

    .title {
        font-size: 3rem;
    }
    
    #timestamp {
        font-size: 1rem;
    } 

    #mood-desc {
    font-size: 1rem;
}
}

button {
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

#home-btn {
    background-color: #3D365C;
    width: 100px;
    text-align: center;
    margin-bottom: 1rem;
}